ul {
  list-style-type: none;
  padding: 0;
  margin : 0;
}

.home-list-data-container{
  display: flex;
}

.home-list-item{
  height : 100px;
	background : #fff;
  margin-top: 7px;
	margin-bottom : 7px;
	margin-left : 7px;
	margin-right : 7px;
	align-items : 'center';
	position : 'relative';
  border-radius: 10px;
  border: solid;
  border-width: 0 7px;
}

.home-list-item:hover{
  border-width: 0 10px;
}

[class~="alert"]{
    border-color: #dd2f34;
}

[class~="classes"]{
    border-color: #9259bb;
}

[class~="exams"]{
    border-color: #16b6c5;
}

[class~="general"]{
    border-color: #4bc274;
}

[class~="others"]{
    border-color: #4bc274;
}

[class~="alertTab"]{
    border-top-color: #dd2f34!important;
}

[class~="classesTab"]{
    border-top-color: #9259bb!important;
}

[class~="examsTab"]{
    border-top-color: #16b6c5!important;
}

[class~="generalTab"]{
    border-top-color: #4bc274!important;
}

[class~="othersTab"]{
    border-top-color: #1179c0!important;
}

.home-list-main{
  overflow: hidden;
  background: #e0e2e5;
}

.event-type{
  flex: 1;
  float: left;
  width: 20%;
  height: 100px;
  margin-top: 40px;
  margin-left: 10px;
}

.event-type-text{
  font-size : 12;
	color : #1b9af7;
	font-weight : bold;
}

.event-details{
  flex : 30;
  float: left;
  width: 60%;
  height: 100px;
  text-align: -webkit-center;
  margin-top: 20px;
}

.event-arrow{
  flex : 1;
  float: right;
  height: 100px;
  margin-top: 40px;
}

.event-details-subject{
  font-size: x-large;
  font-weight : bold;
	color: #231f1e;
}

.event-details-date{
  color : #211f20;
	font-weight : 500;
	margin-bottom : 3px;
}

.event-details-location{
  color : #8f8e8c;
	font-style : italic;
}

.date-div{
  background: #1179c0;
  color: white;
  float: left;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  margin-left: 5px;
}

.filter-container{
  text-align: -webkit-center;
  background: aliceblue;
  height : 140px;
  margin-left: 30%;
  margin-right: 30%;
}

.search-bar{
  height: 30%;
  width: 60%;
  margin-top: 30px;
  text-align: -webkit-center;
}

.search-bar-container{
  height: 60px;
  width: 100%;
}

.filter-icon{
  float: right;
}

.home-tabs{
  padding : 10px 20px!important;
  margin-top: 5px!important;
  border-top-width: 5px!important;
}

.home-tab-main{
  text-align: -webkit-center!important;
}

.filter-container-icons{
  padding-right: 10px;
}
