.login-form{
  margin-top : 15%;
  margin-left : 37%;
  margin-right : 37%;
  text-align: center;
  position: relative;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(17, 121, 192, 0.57);
}

.login-button{
  width : 30%;
  height : 30px;
  color: white;
  background-color: #1179c0;
  border: #1179c0;
  border-radius: 5px;
}

.login-button:hover{
  box-shadow: 0px 0px 20px rgba(17, 121, 192, 0.57);
}

.login-field{
  margin-top: 1%;
  margin-bottom: 2%;
}

.login-image{
  width : 80%;
}
