.login-form{
  margin-top : 15%;
  margin-left : 35%;
  margin-right : 35%;
  text-align: center;
}

.login-button{
  width : 100%;
  height : 25px;
  color: white;
  background-color: #1179c0;
}

.login-field{
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-image{
  width : 100%;
}
