.swipe-calendar-container{
  width: 60%;
  background: #e0e2e5;
  margin: 10px 0;
  overflow-x:auto;
  overflow-y:hidden;
}

.swipe-calendar-list{
  display: flex;
  width : 4800px;
}

.swipe-calendar-list-item{
  width: 78px;
  border-width: 1px;
  border-style: solid;
}

.list-item-text{
  width: 100%;
  text-align: -webkit-center;
  font-size: larger;
}

.swipe-calendar-list-item:hover{
  width: 75px;
  font-weight: bold;
  background: rgba(17, 121, 192, 0.4);
}
